[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
pysrt = "*"
subliminal = {editable = true, ref = "develop", git = "https://github.com/Kagandi/subliminal.git"}
babelfish = "*"
numpy = "*"
matplotlib = "*"
turicreate = "*"
imdbpy = {editable = true, git = "https://github.com/alberanid/imdbpy.git"}
stop-words = "*"
fuzzywuzzy = {extras = ["speedup"], version = "*"}
nltk = "*"
spacy = "*"
nameparser = "*"
python-dotenv = "*"

[dev-packages]
bumpversion = "==0.5.3"
watchdog = "==0.8.3"
"flake8" = "==3.5.0"
tox = "==2.9.1"
coverage = "==4.5.1"
twine = "==1.10.0"
pytest = "==3.4.2"
pytest-runner = "==2.11.1"
Sphinx = "==1.7.1"

[requires]
python_version = "3.6"
